html 
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
        p <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")/>
        title='Questions per keyword'
    body
        div.container
            ul.col-md-12.row
                a(href="#")
                    li.col-md-2.col-md-offset-1 Home Page
                a(href="#")
                    li.col-md-2 Register
                a(href="#")
                    li.col-md-2 Login
                a(href="#")
                    li.col-md-2.col-md-offset-1 Logout
                a(href="#")
                    li.col-md-2 My Page


        div.container
            canvas#chart(style='width:70%; margin-left: 150px; margin-top: 150px')


        script.

            /* NEED TO FIX LAYOUT AND INTRODUCE COLORS */
            let myChart = document.getElementById("chart").getContext('2d');

            let x = !{pie.labels}
            console.log(x);

            //labels:['Boston','Worcester','Springfield'],
            let QPKChart = new Chart(myChart,{
                type:'pie',
                data:{
                    labels:!{pie.labels},
                    datasets:[{
                        label:'Population',
                        data:#{JSON.stringify(pie.values)}
                    }]
                },
                options:{}
            })





        